* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body.scroll-locked {
  height: 100vh;
  overflow-y: hidden;
}

.container {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.lp-container {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

a{
  text-decoration: none;
  cursor: pointer;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

img, svg {
  flex-shrink: 0;
}

i {
  display: inline-block;
  flex-shrink: 0;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: center !important;
}

input {
  margin: 0;
  padding: 0;
  min-width: 0;
}

.text-light {
  color: white;
}

.text-dark {
  color: black;
}

.title-xs {
  display: block;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  margin-bottom: 10px;
}
.title-l {
  margin-bottom: 10px;
  display: block;
  color: #000;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.absolute-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.modal-form h1{
  color: var(--iqra-black, #000);
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

}
.modal-form p{
  color: var(--iqra-black, #000);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.modal-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  padding: 30px;
}

.btn-plain {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
}
.w-100{
  width: 100%;
}
.w-75{
  width: 75%
}
.px-2{
  padding: 8px;
}
.my-2{
  margin-top: 8px;
  margin-bottom: 8px;
}
.mx-2{
  margin-left: 8px;
  margin-right: 8px;
}
