.faq {
    display: block;
    padding: 15px;
    border-radius: 20px;
    background: var(--bg-grey, #F4F4F4);
    margin-bottom: 5px;
}
.faq-hr{
    margin-bottom: 30px;
    stroke-width: 1px;
    stroke: #000;
    opacity: 0.2;
}
.faq-hr:last-child{
    margin-top: 30px;
    stroke-width: 1px;
    stroke: #000;
    opacity: 0.2;
}
.faq .question {
    position: relative;
    transition: all 0.2s ease-in-out; 
    color: #000;
    font-family: Vela Sans GX;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    line-height: 120%; /* 30px */}

.faq .question::after{
    content: '';
    transition: all 0.2s linear; 
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
    width: 20px;
    height: 20px;
    background-image: url('@/assets/img/icon/arrow.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.faq .answer {
    opacity: 0;
    max-height: 0px;
    overflow-y: hidden;
    transition: all 0.3s ease-in-out;
    color: #000;
    font-family: Vela Sans GX;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 26px */

}

    .faq.open .question::after{
    transform: translateY(-50%) rotate(180deg);
}
    .faq.open .answer{
    max-height: 20vh;
    opacity: 1;
    color: #000;
    font-family: Vela Sans GX;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 26px */

    }

    .faq.open .question{
    margin-bottom: 15px;
    }
