@media screen and (max-width: 797px) {
  .sidebar-toggle-name{
    display: none;
  }
  .header-lg-logo{
    display: none;
  }
  .header-sm-logo{
    display: block;
  }
  .header-course-link{
    display: none;
  }
}
