//coolvetica
@font-face {
  font-family: 'Coolvetica';
  font-style:  normal;
  font-weight: 400;
  src: url('../fonts/coolvetica/coolvetica.otf'),
}

//source sans pro
@font-face {
  font-family: 'Source Sans Pro';
  font-style:  normal;
  font-weight: 400;
  src: url('../fonts/source-sans-pro/source-sans-pro.woff'),
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style:  normal;
  font-weight: 600;
  src: url('../fonts/source-sans-pro/source-sans-pro-semibold.woff'),
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style:  normal;
  font-weight: 700;
  src: url('../fonts/source-sans-pro/source-sans-pro-bold.woff'),
}

//vela-sans
@font-face {
  font-family: 'Vela Sans GX';
  font-style:  normal;
  font-weight: 400;
  src: url('../fonts/vela-sans/VelaSans-GX.ttf'),
}

@font-face {
  font-family: 'Vela Sans GX';
  font-style:  normal;
  font-weight: 600;
  src: url('../fonts/vela-sans/VelaSans-GX.ttf'),
}

@font-face {
  font-family: 'Vela Sans GX';
  font-style:  normal;
  font-weight: 700;
  src: url('../fonts/vela-sans/VelaSans-GX.ttf'),
}
