.main-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-wrapper * {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
}

.page-wrapper {
  flex: 1;
  position: relative;
  padding: 20px 0 60px;
  background: #F4F4F4;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  transition: 0.2s ease;
  opacity: 0;
  visibility: hidden;
}

.overlay.show {
  opacity: 1;
  visibility: visible;
}

.container-md {
  width: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  width: calc(100% + 20px);
}

.col {
  padding: 0 10px;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.66666666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333333333333%;
}

.col-5 {
  width: 41.66666666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333333333333%;
}

.col-8 {
  width: 66.66666666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333333333333%;
}

.col-11 {
  width: 91.66666666666667%;
}

.col-12 {
  width: 100%;
}
